@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	min-width: 410px;
}

.custom-card-image .card.image-full::before {
	border-radius: 0.5rem;
	opacity: 0.45;
}
.custom-card-image .card.image-full:hover::before {
	opacity: 0.75;
}

.custom-card-image .card-actions {
	z-index: 99;
	margin: 0;
}

@media (min-width: 1024px) {
	.custom-card-image .card.image-full .card-actions a {
		opacity: 0;
		transform: translateY(100%);
	}
	.custom-card-image .card.image-full .card-actions:hover a {
		opacity: 1;
		transform: translateY(0%);
	}
}

.bg-base-100 {
	background-color: hsla(216 10% 28.8% / var(--tw-bg-opacity));
}

.sticky {
	position: fixed;
	z-index: 999;
}

.sticky + main {
	padding-top: 112px;
}

.git-stats {
	justify-content: space-around;
}

.fade.fade-enter {
	opacity: 0.01;
	transition: all 300ms ease-in-out;
}

.fade.fade-enter-active {
	opacity: 1;
}

.fade.fade-exit {
	visibility: hidden;
}

.moveButton {
	position: fixed;
	width: 6rem;
	height: 5.5rem;
	left: 3rem;
	bottom: 11rem;
	display: none;
}

.moveButton span {
	display: block;
	font-size: smaller;
}

.show {
	display: block;
}

.card-profile:hover .profile-cta {
	opacity: 1;
	color: hsl(var(--pc) / var(--tw-text-opacity));
}
