/* indicator link effect & animation */
.indicator .indicator-item {
    opacity: 0;
    transform: translate(200%, -55%);
    transition: all ease-out 0.6s;
}

.indicator .indicator-item.show {
    opacity: 0.8;
    transform: translate(105%, -30%);
}

/* skeleton effect & animation */
.skeleton {
    position: relative;
}
.skeleton-body .skeleton-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-image: linear-gradient(125deg, transparent
        , hsla(200, 7%, 10%, 0.15) 3%, hsla(0, 0%, 99%, 0.15) 25%, hsla(200, 7%, 10%, 0.15) 50%
        , hsla(0, 0%, 99%, 0.15) 75%, hsla(200, 7%, 10%, 0.15) 99%, transparent
    );
    background-size: 200%;
    animation: skeleton-bg-animation 2.75s infinite;
}

@keyframes skeleton-bg-animation {
    0%{
      background-position: 100%;
    }
    100%{
      background-position: 0%;
    }
  }