@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
* {
	box-sizing: border-box;
}

:root {
	--color-primary: #00cc66;
	--color-secondary: #2c2c2c8c;
}

html::-webkit-scrollbar {
	display: none;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #f2f4f8;
	margin: 0;
	box-sizing: border-box;
	min-height: 100vh;
}

a {
	text-decoration: none;
	display: block;
	color: #000000;
}

button {
	outline: none;
	border: none;
}

.input,
.passwordInput,
.emailInput,
.nameInput,
.textarea {
	box-shadow: rgba(0, 0, 0, 0.11);
	border: none;
	background: #ffffff;
	border-radius: 3rem;
	height: 3rem;
	width: 100%;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	padding: 0 3rem;
	font-size: 1rem;
}

.textarea:disabled {
	filter: contrast(0.5);
}

.sending {
	cursor: wait !important;
}

@media (min-width: 1100px) {
	.input,
	.passwordInput,
	.emailInput,
	.nameInput,
	.textarea {
		padding: 0 5rem;
	}
}

.textarea {
	padding: 1rem 1.5rem;
	height: 300px;
	border-radius: 1rem;
}

.primaryButton {
	cursor: pointer;
	background: var(--color-primary);
	border-radius: 1rem;
	padding: 0.85rem 2rem;
	color: #ffffff;
	font-weight: 600;
	font-size: 1.25rem;
	width: 80%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.itemControl {
	display: flex;
	justify-content: flex-end;
	margin-top: 2em;
}
@media (min-width: 1024px) {
	.itemControl {
		margin-bottom: -4em;
		margin-right: 3em;
	}
}
.removeIcon {
	cursor: pointer;
	margin: 0 0.25rem;
	z-index: 10;
}
.editIcon {
	cursor: pointer;
	margin: 0 0.25rem;
	z-index: 10;
}

.listingsList {
	padding-inline-start: 0;
}

.pageContainer,
.offers,
.profile,
.listingDetails,
.category,
.explore {
	margin: 1rem;
}

@media (min-width: 1024px) {
	.pageContainer,
	.offers,
	.profile,
	.listingDetails,
	.category,
	.explore {
		margin: 3rem;
	}

	.pageContainer {
		min-height: 100vh;
	}
}

.loadingSpinnerContainer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 5000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loadingSpinner {
	width: 64px;
	height: 64px;
	border: 8px solid;
	border-color: var(--color-primary) transparent var(--color-primary) transparent;
	border-radius: 50%;
	animation: spin 1.2s linear infinite;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.pageHeader {
	font-size: 2rem;
	font-weight: 800;
}

.navbar {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	height: 85px;
	background-color: #ffffff;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbarNav {
	width: 100%;
	margin-top: 0.75rem;
	overflow-y: hidden;
}

@media screen and (min-width: 1024px) {
	.navbarNav {
		overflow-y: visible;
	}
}

.navbarListItems {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.navbarListItem {
	user-select: none;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navbarListItemName,
.navbarListItemNameActive {
	margin-top: 0.25rem;
	font-size: 14px;
	font-weight: 600;
	color: #8f8f8f;
}
.navbarListItemNameActive {
	color: #2c2c2c;
}

.nameInput {
	margin-bottom: 2rem;
	background: url('./assets/svg/badgeIcon.svg') #ffffff 2.5% center no-repeat;
}

.emailInput {
	margin-bottom: 2rem;
	background: url('./assets/svg/personIcon.svg') #ffffff 2.5% center no-repeat;
}

.passwordInputDiv {
	position: relative;
}

.passwordInput {
	margin-bottom: 2rem;
	background: url('./assets/svg/lockIcon.svg') #ffffff 2.5% center no-repeat;
}

.showPassword {
	cursor: pointer;
	position: absolute;
	top: -4%;
	right: 1%;
	padding: 1rem;
}

.forgotPasswordLink {
	cursor: pointer;
	color: var(--color-primary);
	font-weight: 600;
	text-align: right;
}

.signInBar,
.signUpBar {
	margin-top: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: inherit;
}

.signInButton,
.signUpButton,
.signInText,
.signUpText {
	cursor: pointer;
}
@media (min-width: 1024px) {
	.signInBar,
	.signUpBar {
		margin-top: 0rem;
		justify-content: start;
	}
}

.signInText,
.signUpText {
	font-size: 1.5rem;
	font-weight: 700;
}

.signInButton,
.signUpButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	background-color: var(--color-primary);
	border-radius: 50%;
}
@media (min-width: 1024px) {
	.signInButton,
	.signUpButton {
		margin-left: 3rem;
	}
}

.socialLogin {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 700;
}

.socialIconDivGroup {
	display: flex;
}

.socialIconDiv {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.75rem;
	margin: 1.5rem;
	width: 3rem;
	height: 3rem;
	background-color: #ffffff;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.socialIconImg {
	width: 100%;
}

.registerLink {
	margin-top: 1rem;
	color: var(--color-primary);
	font-weight: 600;
	text-align: center;
	margin-bottom: 8rem;
}

@media (min-width: 1217px) {
	.registerLink {
		margin-top: 2.5rem;
		margin-bottom: 3rem;
	}
	.explore {
		margin-bottom: 10rem;
	}
}
@media (max-height: 536) {
	.explore {
		margin-bottom: 10rem;
	}
}

.exploreHeading,
.exploreCategoryHeading {
	font-weight: 700;
}

.exploreCategoryHeading {
	margin-top: 3rem;
}

@media (min-width: 1024px) {
	.exploreHeading,
	.exploreCategoryHeading,
	.exploreCategoryName {
		font-size: 20px;
	}
}

.swiper {
	position: relative;
	animation: fadeIn 0.5s;
}
.swiper-container {
	width: 100%;
	max-width: 100%;
	min-height: 225px;
	max-height: 100vh;
	min-height: 0;
	min-width: 0;
	height: 23vw;
}

.swiper-slide {
	width: 100% !important;
	flex-shrink: 0;
	display: block;
	height: 100%;
	max-height: 100%;
}

.swiper-wrapper {
	max-height: 100%;
	height: 100%;
	display: flex;
}

.swiper-pagination-bullet-active {
	background-color: #ffffff !important;
}

.swiperSlideDiv {
	user-select: none;
	position: relative;
	width: 100%;
	height: 23vh;
}

.swiperSlideImg {
	width: 100%;
	object-fit: cover;
}

.swiperSlideText {
	color: #ffffff;
	position: absolute;
	top: 70px;
	left: 0;
	font-weight: 600;
	max-width: 90%;
	font-size: 1.25rem;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 0.5rem;
}
@media (min-width: 1024px) {
	.swiperSlideText {
		font-size: 1.75rem;
	}
}

.swiperSlidePrice,
.swiperSlideLocation {
	color: #000000;
	position: absolute;
	top: 143px;
	left: 11px;
	font-weight: 600;
	max-width: 90%;
	background-color: #ffffff;
	padding: 0.25rem 0.5rem;
	border-radius: 1rem;
}
.swiperSlideLocation {
	display: none;
	left: 150px;
}
@media (min-width: 1024px) {
	.swiperSlidePrice,
	.swiperSlideLocation {
		display: block;
		font-size: 1.25rem;
	}
}

.exploreCategories {
	display: flex;
	justify-content: space-between;
	animation: fadeIn 0.5s;
}
.exploreCategories a {
	width: 48%;
	border-radius: 25px;
	transition: 0.2s;
}
.exploreCategories a:hover {
	transform: translateY(-1%);
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}

.exploreCategoryImg {
	min-height: 115px;
	height: 15vw;
	width: 100%;
	border-radius: 1.5rem;
	object-fit: cover;
	margin: 0 auto;
}

.exploreCategoryName {
	position: absolute;
	font-weight: 500;
	text-align: left;
}

.category {
	margin-bottom: 10rem;
}

.categoryListings {
	padding: 0;
}

.categoryListing {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	position: relative;
	animation: fadeIn 0.5s;
}
@media (min-width: 1024px) {
	.categoryListing {
		margin: 2rem 0;
		border-radius: 25px;
	}
	.categoryListing:hover .categoryListingImg {
		transform: translateY(-2%);
		box-shadow: 2px 2px 6px #2c2c2c;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.categoryListingLink {
	display: contents;
}

.categoryListingImg {
	width: 30%;
	height: 100px;
	border-radius: 1.5rem;
	object-fit: cover;
	transition: 0.2s;
}

.spinner {
	width: 30%;
	height: 100px;
	background-size: 100px;
	background-position: center;
	background-repeat: no-repeat;
}

@media (min-width: 1024px) {
	.categoryListingImg {
		width: 35%;
		height: 177px;
	}

	.spinner {
		width: 35%;
		height: 177px;
	}
}

.categoryListingDetails {
	width: 65%;
}
@media (min-width: 1024px) {
	.categoryListingDetails {
		display: flex;
		height: 177px;
		flex-direction: column;
		justify-content: space-between;
		width: 60%;
	}
}

.categoryListingLocation {
	cursor: default;
	font-weight: 600;
	font-size: 0.7rem;
	opacity: 0.8;
	margin-bottom: 0;
}
@media (min-width: 1024px) {
	.categoryListingLocation {
		font-size: 1rem;
	}
}

.categoryListingName {
	font-weight: 600;
	font-size: 1.25rem;
	margin: 0;
}
@media (min-width: 1024px) {
	.categoryListingName {
		font-size: 1.5rem;
	}
}

.categoryListingPrice {
	margin-top: 0.5rem;
	font-weight: 600;
	font-size: 1.1rem;
	color: var(--color-primary);
	margin-bottom: 0;
	display: flex;
	align-items: center;
}

.categoryListingInfoDiv {
	display: flex;
	justify-content: space-between;
	max-width: 275px;
}

.categoryListingInfoText {
	font-weight: 500;
	font-size: 0.7rem;
}
@media (min-width: 1024px) {
	.categoryListingInfoText {
		font-size: 0.9rem;
	}
}

.noMore {
	user-select: none;
	width: 8rem;
	margin: 0 auto;
	text-align: center;
	padding: 0.25rem 0.5rem;
	background-color: #000000;
	color: #ffffff;
	font-weight: 600;
	border-radius: 1rem;
	opacity: 0.7;
	margin-top: 2rem;
}

.listingDetails {
	margin-bottom: 10rem;
}

.shareIconDiv {
	cursor: pointer;
	position: fixed;
	top: 10%;
	right: 5%;
	z-index: 2;
	background-color: #ffffff;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (min-width: 1024px) {
	.shareIconDiv {
		position: absolute;
		top: 33px;
		right: 3rem;
	}
}

.listingName {
	font-weight: 600;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.listingLocation {
	margin-top: 0;
	font-weight: 600;
}

.discountPrice {
	padding: 0.25rem 0.5rem;
	background-color: #000000;
	color: #ffffff;
	border-radius: 1rem;
	font-size: 0.8rem;
	font-weight: 600;
	display: inline;
}

.listingType {
	padding: 0.25rem 0.5rem;
	background-color: var(--color-primary);
	color: #ffffff;
	border-radius: 2rem;
	display: inline;
	font-weight: 600;
	font-size: 0.8rem;
	margin-right: 1rem;
}

.listingType .type {
	text-transform: capitalize;
}

.listingDetailsList {
	padding: 0;
	list-style-type: none;
}
.listingDetailsList li {
	margin: 0.3rem 0;
	font-weight: 500;
	opacity: 0.8;
}

.listingLocationTitle {
	margin-top: 2rem;
	font-weight: 600;
	font-size: 1.25rem;
}

.leafletContainer {
	width: 100%;
	height: 200px;
	overflow-x: hidden;
	margin-bottom: 3rem;
}
@media (min-width: 1024px) {
	.leafletContainer {
		height: 400px;
	}
}

.linkCopied {
	position: fixed;
	top: 9%;
	right: 5%;
	z-index: 2;
	background-color: #ffffff;
	border-radius: 1rem;
	padding: 0.5rem 1rem;
	font-weight: 600;
}

.contactListingName {
	margin-top: -1rem;
	margin-bottom: 0;
	font-weight: 600;
}

.contactListingLocation {
	margin-top: 0.25rem;
	font-weight: 600;
}

.contactLandlord {
	margin-top: 2rem;
	display: flex;
	align-items: center;
}

.contactPoster-item {
	display: inline;
	padding: 0.5rem;
	margin-left: 0.5rem;
	border-radius: 8px;
	transition: 0.2s;
}
.contactPoster-item > svg {
	margin-bottom: -5px;
	transition: 0.2s;
}
.contactPoster-item:hover {
	background-color: #2c2c2c8c;
}
.contactPoster-item:hover > svg {
	fill: #fcfcfc;
}

.landlordName {
	font-weight: 600;
	font-size: 1.2rem;
	margin-right: 1rem;
}

.messageForm {
	margin-top: 0.5rem;
}

.messageDiv {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	margin-bottom: 4rem;
}

.messageLabel {
	margin-bottom: 0.5rem;
	font-weight: 500;
}

.profile {
	margin-bottom: 10rem;
}

.profileHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profileDetailsText {
	font-weight: 600;
}

.logOut {
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 600;
	color: #ffffff;
	background-color: var(--color-primary);
	padding: 0.25rem 0.75rem;
	border-radius: 1rem;
}

.sign-up-cta,
.sign-in-cta {
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 600;
	color: #ffffff;
	background-color: var(--color-primary);
	padding: 0.55rem 1.25rem;
	border-radius: 1rem;
}

@media (min-width: 1024px) {
	.logOut {
		margin-right: 4rem;
	}
}

.profileDetailsHeader {
	display: flex;
	justify-content: space-between;
	max-width: 500px;
}

.personalDetailsText {
	font-weight: 600;
}

.changePersonalDetails {
	cursor: pointer;
	font-weight: 600;
	color: var(--color-primary);
}

.profileCard {
	background-color: #ffffff;
	border-radius: 1rem;
	padding: 1rem;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
	max-width: 500px;
}

.profileDetails {
	display: flex;
	flex-direction: column;
}

.profile-section {
	display: flex;
	margin: 0.3rem 0;
}

.email-verification {
	user-select: none;
	padding: 0.25rem 0.75rem;
	border-radius: 15px;
	white-space: nowrap;
}
@media (max-width: 710px) {
	.email-verification {
		transform: scale(0.8);
	}
}
.email-verification > svg {
	margin-bottom: -4px;
	margin-right: 0.25rem;
}
.verified {
	background-color: #00cc66;
}
.verify {
	cursor: pointer;
	color: red;
	font-weight: 600;
	transition: 0.2s;
}
.verify:hover {
	background-color: #2c2c2c4c;
}

.profileName,
.profileEmail,
.profileAddress,
.profileAddressActive,
.profileEmailActive,
.profileNameActive {
	all: unset;
	margin: 0.3rem 0;
	font-weight: 600;
	width: 100%;
}
.profileNameActive {
	background-color: rgba(44, 44, 44, 0.1);
}

.profileEmail,
.profileAddress,
.profileAddressActive,
.profileEmailActive {
	font-weight: 500;
}
.profileEmailActive {
	background-color: rgba(44, 44, 44, 0.1);
}

.profileAddressActive {
	background-color: rgba(44, 44, 44, 0.1);
}

.profileDetailSettings {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1.5rem;
	animation: fadeIn 0.5s;
}
.profileDetailSettings > * {
	flex: auto;
}
@media (min-width: 1024px) {
	.profileDetailSettings {
		flex-direction: row;
	}
}

.profileContact {
	all: unset;
	margin: 0.3rem 0;
	font-weight: 600;
	width: 100%;
}
.profileContact-items {
	display: flex;
	gap: 1.5rem;
	margin: 0.6rem 0;
}
.profileContact-item {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-top: 0.4rem;
}
.profileContact-item > * {
	display: inline-block;
}
.switch-title {
	font-weight: 700;
}
.switch-container {
	user-select: none;
	width: 4.75rem;
	height: 1.5rem;
	line-height: 1.5rem;
	background-color: #dfdfdf;
	border-radius: 15rem;
}
.switch-container > * {
	cursor: pointer;
	display: inline-block;
	height: 1.5rem;
	padding: 0 0.75rem;
	border-radius: 15rem;
}
.switch.on {
	background-color: #00cc66;
}
.switch.off {
	float: right;
	background-color: #2c2c2c8c;
}
@media (max-width: 710px) {
	.profileContact-item {
		gap: 0.25rem;
	}
	.switch-container {
		transform: scale(0.8);
	}
}

.profileContact-item.disabled {
	filter: grayscale(1);
	opacity: 0.7;
}

.createListing {
	background-color: #ffffff;
	border-radius: 1rem;
	padding: 0.25rem 1rem;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
	margin-top: 2rem;
	font-weight: 600;
	max-width: 500px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.2s;
	animation: fadeIn 0.5s;
}

.createListing:hover {
	background-color: #8f8f8f;
	color: #ffffff;
}
.createListing:hover :where(.homeIcon, .arrowRight) {
	fill: #ffffff;
}

.listingText {
	margin-top: 3rem;
	font-weight: 600;
}

.lisitingsList {
	padding: 0;
}

.formLabel {
	font-weight: 600;
	margin-top: 1rem;
	display: block;
}

.formButtons {
	display: flex;
}

.formButton,
.formInput,
.formInputAddress,
.formInputName,
.formInputSmall,
.formInputFile,
.formButtonActive {
	padding: 0.9rem 3rem;
	background-color: #ffffff;
	font-weight: 600;
	border-radius: 1rem;
	font-size: 1rem;
	margin: 0.5rem 0.5rem 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.formButtonActive {
	background-color: var(--color-primary);
	color: #ffffff;
}

.flex {
	display: flex;
}

.formInput,
.formInputAddress,
.formInputName,
.formInputSmall,
.formInputFile {
	border: none;
	outline: none;
	font-family: 'Montserrat', sans-serif;
}
.formInputSmall,
.formInputFile {
	margin-right: 3rem;
	padding: 0.9rem 0.7rem;
	text-align: center;
}

.formInputName {
	padding: 0.9rem 1rem;
	width: 90%;
	max-width: 326px;
}

.formInputAddress {
	padding: 0.9rem 1rem;
	width: 90%;
	max-width: 326px;
}

@media (min-width: 1024px) {
	.formInputAddress {
		max-width: 632px;
	}
}

.formPriceDiv {
	display: flex;
	align-items: center;
}

.formPriceText {
	margin-left: -1.5rem;
	font-weight: 600;
}

.imagesInfo {
	font-size: 0.9rem;
	opacity: 0.75;
}

.formInputFile {
	width: 100%;
}
.formInputFile::-webkit-file-upload-button {
	background-color: var(--color-primary);
	border: none;
	color: #ffffff;
	font-weight: 600;
	padding: 0.5rem 0.75rem;
	border-radius: 1rem;
	margin-right: 1rem;
}

.createListingButton {
	margin-top: 5rem;
}

@media (min-width: 1024px) {
	.createListingButton {
		margin-top: 3rem;
	}
}

.offers {
	margin-bottom: 10rem;
}

.offerBadge {
	padding: 0.25rem 0.5rem;
	background-color: #000000;
	color: #ffffff;
	border-radius: 1rem;
	margin-left: 1rem;
	font-size: 0.8rem;
	opacity: 0.75;
}

.menu-wrapper {
	display: flex;
	justify-content: space-between;
}

.menu {
	padding: 1rem;
	background-color: #2c2c2c;
	color: #f2f4f8;
}

.menu h2 {
	margin: 0 0 -0.5rem 0.5rem;
	font-size: 22px;
	color: #f2f4f8;
}

.menu .logo {
	cursor: pointer;
	display: flex;
}
.footer {
	display: none;
	position: fixed;
	width: 100vw;
	bottom: 0;
	z-index: 1000;
	padding: 2rem;
	background-color: #2c2c2c;
	color: #f2f4f8;
}

.split-container {
	display: flex;
	min-height: calc(90vh - 50px);
}
.split-left {
	flex: 1;
	display: none;
	padding-top: 2rem;
	background-color: #a0a0a0;
}
.split-right {
	flex: auto;
}

.menu-user {
	display: none;
}

@media screen and (min-width: 1024px) {
	.container {
		padding-inline: 0.5rem;
	}
	.split-container {
		padding-right: 1.5rem;
	}
	.navbar {
		display: none;
	}
	.footer {
		display: block;
	}
	.footer-quiklink {
		user-select: none;
		display: flex;
		margin: 0;
		padding: 0;
		gap: 2.5rem;
	}
	.footer-quiklink * {
		margin: 0;
		padding: 0;
	}
	.footer-quiklink li {
		cursor: pointer;
		list-style-type: none;
		transition: 0.2s;
	}
	.footer-quiklink li:hover {
		transform: scale(1.05);
		font-weight: 600;
		padding-inline: 0.5rem;
		border-radius: 0.5rem;
		background-color: #5c5c5cbc;
	}
	.split-left {
		display: block;
	}
	.swiperSlideDiv {
		height: 25vw;
	}
	.split-right {
		flex: 4;
		/* overflow-y: scroll; */
	}
	.navbarListItems {
		margin: 0;
		padding: 0;
		display: block;
		justify-content: space-evenly;
		align-items: center;
	}
	.navbarListItems li {
		background-color: #9f9f9f;
		padding: 0 1.5rem;
		transition: 200ms;
	}
	.navbarListItems li:hover {
		box-shadow: 0px 0px 2px#bbbbbb, 0px 3px 2px#2c2c2c;
		transform: translate(0, -5%);
		z-index: 1;
	}
	.navbarListItems li.actived {
		background-color: #f2f4f8;
	}
	.navbarListItem {
		cursor: pointer;
		display: flex;
		flex-direction: row;
		gap: 1rem;
		align-items: center;
		font-size: 1.5rem;
	}
	.swiper-pagination {
		transform: scale(1.5) !important;
		margin-bottom: 1rem;
	}

	.menu-user {
		display: inline;
		font-weight: 700;
		margin-right: 1rem;
		padding: 0.25rem 0.75rem;
		border-radius: 1rem;
		color: #f2f4f8;
		transition: 0.5s;
	}

	.menu-user:hover {
		background-color: #5c5c5cbc;
	}

	.form-grid {
		display: grid;
		grid-template-columns: 380px 1fr;
		row-gap: 1.5rem;
	}

	.form-space2 {
		grid-column: 1 / span 2;
	}

	.form-flex {
		display: flex;
		gap: 5rem;
	}
}

@media screen and (min-width: 1217px) {
	.container {
		max-width: 1370px;
		margin: 0 auto;
	}
	.split-container {
		max-width: 1370px;
		margin: 0 auto;
	}
}

.footer-widgets {
	display: flex;
	justify-content: space-between;
}

.menu-messager {
	cursor: pointer;
	position: relative;
	display: inline;
	padding: 10px;
	margin: 0.5rem;
	border-radius: 1rem;
	transition: 0.5s;
}

.menu-messager:hover {
	background-color: #5c5c5cbc;
}

.menu-messager svg {
	margin-bottom: -6px;
}

.menu-messager-number {
	position: absolute;
	display: block;
	height: 20px;
	width: 20px;
	top: 0px;
	right: 0px;
	text-align: center;
	background-color: red;
	border-radius: 50%;
}

.menu-messager-box {
	position: fixed;
	background-color: #fafafa;
	box-shadow: 2px 2px 10px #2c2c2c7c;
	min-height: 113px;
	width: 100vw;
	top: 60px;
	right: 0px;
	border-radius: 0px 0px 10px 10px;
	z-index: 100;
}

.menu-messager-overlay {
	cursor: default;
	position: fixed;
	inset: 0;
	height: 100vh;
	width: 100vw;
	z-index: 10;
}

[data-tips]::after {
	opacity: 0;
	z-index: -1;
	position: absolute;
	top: 120%;
	right: 50%;
	transform: translateX(50%);
	content: attr(data-tips);
	padding: 0.5rem;
	font-weight: 500;
	white-space: nowrap;
	color: #2c2c2c;
	background-color: #ccc;
	border-radius: 3px;
}

[data-tips]:hover::after {
	z-index: 1;
	animation: dataTipsAnimation 2s;
	animation-fill-mode: forwards;
}

@keyframes dataTipsAnimation {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 0.95;
	}
	70% {
		opacity: 0.95;
	}
	100% {
		opacity: 0;
	}
}

@media (min-width: 1024px) {
	.menu-messager-box {
		position: absolute;
		width: 500px;
		top: 45px;
		border-radius: 0px 0px 0px 0px;
	}
}

.message-item {
	cursor: pointer;
	padding: 1rem;
	color: #2c2c2c;
	background-color: #f2f2f2;
	font-weight: 500;
	border: transparent 1px solid;
	border-left: transparent solid 5px;
}

.message-unread {
	border-left-color: var(--color-primary);
}

.message-read {
	opacity: 0.5;
}

.message-item:hover {
	background-color: #00cc660c;
}

.message-item-user {
	display: flex;
	justify-content: space-between;
}

.message-item-user .user-name {
	font-weight: 600;
	padding: 0.25rem 0.5rem;
	color: #dfdfdf;
	background-color: var(--color-secondary);
}

.message-time {
	color: var(--color-secondary);
}

.message-item-title {
	margin: 0.5rem 0;
	font-size: large;
}

.message-item-content {
	height: 38px;
}

.moreMessage-link {
	padding: 1rem;
	font-weight: 700;
	text-align: center;
	background-color: #fcfcfc;
}

.moreMessage-link:hover {
	background-color: transparent;
}

.categoryListing.contact {
	background-color: #fafafa;
	border-radius: 0px;
	box-shadow: 0px 0px 2px var(--color-secondary);
	margin-bottom: 3rem;
}

@media (max-width: 1023px) {
	.categoryListing.contact {
		display: flex;
		flex-direction: column;
	}

	.categoryListing.contact > img {
		width: 100%;
		height: 100%;
	}

	.categoryListing.contact .categoryListingDetails {
		width: 100%;
		padding: 0.5rem;
	}
}

.contact-history {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	width: 100%;
	max-height: 35vh;
	padding: 0.775rem;
	overflow-y: scroll;
	/* background-color: #f8f8f8; */
}

.contact-history::-webkit-scrollbar {
	width: 5px;
}

.contact-history::-webkit-scrollbar-thumb {
	/* Foreground */
	background: white;
}

.message-sender .user-name {
	margin-right: 1rem;
	font-weight: 600;
}

.message-sender .message-time {
	font-size: smaller;
}

.contactMessage-item {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.75rem;
	border-radius: 5px;
	width: 95%;
	background-color: #f8f8f8;
	box-shadow: 1px 1px 3px #2c2c2c4c;
}

.contactMessage-item.sender {
	border-left: 5px solid var(--color-primary);
}

.contactMessage-item.owner {
	align-items: flex-end;
	border-right: 5px solid var(--color-secondary);
}

.contactMessage-item .message-content {
	background-color: white;
	padding: 0.5rem;
	border-radius: 8px;
	max-width: 85%;
}

@media (max-width: 1023px) {
	.messageForm.contact {
		margin-bottom: 17.5vh;
	}
}

.message-box-close {
	box-sizing: content-box;
	height: 20px;
	text-align: center;
	padding: 0.5rem;
}

.message-box-close > svg {
	width: 20px;
	height: 20px;
}

@media (min-width: 1024px) {
	.message-box-close {
		display: none;
	}
}

.msgListings {
	padding-inline-start: 0;
	box-shadow: 1px 1px 5px #2c2c2c4c;
}

.msgListings.send .message-item {
	border-left-color: var(--color-secondary);
}

.msgCate {
	user-select: none;
	width: fit-content;
	height: 2rem;
	line-height: 2rem;
	margin-bottom: 3rem;
	background-color: #dfdfdf;
	border-radius: 15rem;
}

.msgCateSelector {
	cursor: pointer;
	display: inline-block;
	height: 2rem;
	padding: 0 1rem;
	border-radius: 15rem;
}

.msgCateActive {
	background-color: var(--color-primary);
}

#recaptcha-container {
	margin-bottom: 0.75rem;
}

.phoneVerificationBox {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background-color: #f2f4f8;
	border-radius: 10px;
	padding: 1.25rem;
	margin: 1rem;
}

.phoneVerificationBox span {
	font-size: 24px;
	font-weight: 700;
}

.phoneVerificationBox input {
	font-size: 16px;
	padding: 0.25rem 0.75rem;
}

.phoneVerificationBox input:where([type='tel'], [type='number']) {
	padding-left: 0.25rem;
	width: 60%;
}

.phoneVerificationBox input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	-moz-appearance: textfield;
	margin: 0;
}

.phoneVerificationBox input[type='button'] {
	cursor: pointer;
	border: none;
	background: var(--color-primary);
	font-size: 16px;
	font-weight: 700;
	margin-left: 1rem;
	padding: 0.3rem 0.8rem;
	border-radius: 1rem;
	color: #f2f4f8;
}

.blocked {
	position: relative;
}
.blocked::before {
	content: '';
	position: absolute;
	width: 304px;
	height: 100%;
	z-index: 99999;
	background-color: #2c2c2c04;
}

.shaked {
	animation: shaked 0.5s;
	color: red;
	opacity: 0.7;
}
@keyframes shaked {
	0% {
		transform: translateX(0px);
	}
	15% {
		transform: translateX(-3px);
	}
	30% {
		transform: translateX(3px);
	}
	40% {
		transform: translateX(-2px);
	}
	50% {
		transform: translateX(2px);
	}
	60% {
		transform: translateX(-1px);
	}
	70% {
		transform: translateX(1px);
	}
	100% {
		transform: translateX(0px);
	}
}
